@page
@model IndexModel
@{
    //O dicionário ViewData é usado para passar dados entre a página Razor e a classe IndexModel
    ViewData["Title"] = "A Casa dos Amantes de Pizza";
    //Mostra quanto tempo passou desde que a empresa foi aberta
    TimeSpan timeInBusiness = DateTime.Now - new DateTime(2018, 8, 14);
}

<div class="text-center">
    <h1 class="display-4">Bem vindo à Constoso Pizza</h1>
    <!--Esse arroba é usado para alternar de HTML para a sintaxe Razor-->
    <p class="lead">A melhor pizza da cidade durante @Convert.ToInt32(timeInBusiness.TotalDays) dias!</p>
</div>
