@*Criado a essa nova página Razor com o comando 
dotnet new page --name PizzaList --namespace ContosoPizza.Pages --output Pages no CLI do dotnet*@
@page
@model ContosoPizza.Pages.PizzaListModel
@{
    ViewData["Title"] = "Lista de Pizzas 🍕";
}

<h1>Lista de Pizzas 🍕</h1>
